{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h3 class="card-header">A Quick Blurb About Me</h3>
    <div class="card-body">
        <p class="card-text">I am a Junior Full Stack developer with strengths in Python and
            JavaScript. This site was built using the Django framework, HTML, CSS, and JavaScript. I have
            been tinkering with websites ever since my grandma took me to a children's website
            development class when I was in elementary school. I believe that this site
            holds some of my best projects (so far) that can be checked out above. Also feel free to check
            out my links below. <a href="https://github.com/garrettatucker" target="_blank"><p>GitHub</p></a> 
            <a href="https://www.linkedin.com/in/garrett-tucker-6391b7a4/" target="_blank"><p>Linkedin</p></a>
            </p>
    </div>
</div>
</div>

{% endblock sidebar %}