{% block sidebar %}

<style>
    .card{
        box-shadow: 0 16px 48px #E3E7EB;
    }
    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h3 class="card-header">A Quick Blurb About Me</h3>
    <div class="card-body">
        <p class="card-text">I am a Full Stack developer with strengths in Python and
            JavaScript.
        </p>
        <p>This site was built using the Django framework, HTML, CSS, and JavaScript.
            
        </p> 
        <a href="https://github.com/garrettatucker" class="col" target="_blank">GitHub</a> 
        <a href="https://www.linkedin.com/in/garrett-tucker-6391b7a4/" class="col" target="_blank">Linkedin</a>
    </div>
</div>
</div>

{% endblock sidebar %}