{% extends 'portfolio/base.html' %} {% block content %}
{% load crispy_forms_tags %}
    <div>
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend>Join Today</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Sign up</button>
            </div>
        </form>
        <div>
            <small>
                Already have an account?
                <a class="ml-2" href="{% url 'login' %}">Sign in</a>
            </small>
        </div>
    </div>
{% endblock content %}